body {
    background-image: url('img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    display: block;
    width: 500px;
    margin: auto auto;

    background-color: rgba(237, 237, 233, .5);
}

h1 {
    font-family: fantasy;
    text-decoration: underline;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#units {
    line-height: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 1px solid black;
}

button {
    line-height: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#result {
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}